*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://source.unsplash.com/1600x900/?nature,water") no-repeat center center/cover;
    background-size: 100% 100%;
}

.container{
    height: 550px;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* height: 80vh;  */
}

h1{
    text-align: center;
    margin: 12px 0;
    color: white;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}

.myInput{
    padding: 12px 10px;
    width: 420px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 14px;
    font-size: 15px;
    outline: none;
}
#btn{
    padding: 9px 6px;
    width: 420px;
    margin: 8px 0px;
    border-radius: 11px;
    cursor: pointer;
}
#btn:hover{
    background-color: chartreuse;
    color: red;
}
