extends base.pug

block style 
    style
        include ../static/css/style.css
        include ../static/css/about.css

block scripts
    script
        include ../static/jscript/about.js  

block content 
    section#overview
        div.Image 
            img(src="https://cdn.firespring.com/images/fecf53a1-099e-47ad-9d0e-95d37aa152cb.png", alt="") 
        div.content 
            h1  ABOUT US 
            h1 OVERVIEW
            p Royal Dance Club develops skills in a variety of art forms for children, teens and adults while nurturing self-esteem, building character and cultivating an appreciation of the diverse cultures within our community.
    section#details 
        h1 ABOUT US
        p  #[strong Royal Dance Club] Creative Arts Center provides quality Music, Dance, Theater, Voice, and Martial Arts programs for more than 700 students a year. Group and private lessons provide study in modern/jazz, tap, ballet, hip-hop, and African dance forms, martial arts, piano/keyboard, guitar, bass, woodwinds, brass, drum, violin, and voice.

        p In addition, Royal Dance Club offers free workshop programs for teens: the Positive Youth Troupe theater program, the Community Folk Culture intern research program, and the Arts Passage Xpress Program.

        p A vibrant part of the Bronx community, Royal Dance Club is committed to maintaining both professional artistic standards, and a nurturing, engaging environment. Royal Dance Club strives to make its programs accessible to all: providing financial aid, ensuring that the facility is clean and 100% accessible, and training our teachers to work with youth of various skill levels and learning styles.

        p The North East Bronx is a vibrant, multicultural, family oriented area, built around small neighborhoods. It is predominantly an African American, Caribbean, and African community, with growing Hispanic and Middle-Eastern populations. It is a melting pot of people from all over the world and a perfect place for a community arts center.

        p Royal Dance Club offers the families of these communities a trusted service of excellence, aspiration, and dependability. Our services are high quality and are made available to all children without regard to household income or skill upon entrance. We realize that some children are more talented than others but we believe the opportunity to reach, to stretch and bend to the discipline of art is a powerful and enlivening experience for all. That is our goal and that is the mission that has kept us a vibrant part of Bronx communities since 1978.

        p To learn more about our history, staff & faculty, supporters, and our board of directors; please click these links.