html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    title Royal Dance Club
    block scripts
    block style 
  body
    nav#navbar.top 
       div#logo 
            img(src="/img/logo.jfif", alt="")
       ul 
        li #[a(href="/") Home]
        li #[a(href="./about") About]
        li #[a(href="./Services") Services]
        li #[a(href="./contact") Contact Us]
    block content
    footer#footer
      | Copyright &copy; 2021 Royal Dance Club | All right reserved.
    