extends base.pug 

block scripts
  script(src='./jscript/index.js')

block style
    style
      include ../static/css/style.css

block content 

    section#introsection 
      div Welcome to Royal Dance Club !! 
      div.small A Moments of Entertainment

    section#missionsection 
      h1 Our Missions
      
      div.cards
        div.card 
          h3 Dance Perfection
          div.card-box 
            div.card-img 
              img(src="/img/1.png", alt="")
            div.card-content 
              p  This program is a full time course for one year that helps potential dancers nurture their skills in a professional environment.
        div.card 
          h3 Dance the way you like
          div.card-box 
            div.card-img 
              img(src="/img/2.png", alt="")
            div.card-content 
              p  This program is a full time course for one year that helps potential dancers nurture their skills in a professional environment. 
        
        div.card 
          h3 Expert Teaching
          div.card-box 
            div.card-img 
              img(src="/img/3.png", alt="")
            div.card-content 
              p  This program is a full time course for one year that helps potential dancers nurture their skills in a professional environment. 
    
    section#sponsorsection 
      h1 Our Sponsors
      div#sponsors 
        img(src="/img/logo1.png", alt="Apple" class="spImage")
        img(src="/img/logo2.png", alt="Apple" class="spImage")
        img(src="/img/logo3.png", alt="Apple" class="spImage")
        img(src="/img/logo4.png", alt="Apple" class="spImage")