extends base.pug 

block style 
    style
        include ../static/css/style.css
        include ../static/css/Services.css
        
    script 
        include ../static/jscript/Services.js

block content
    div.services
        div#box-1.box
            h1 Hip Hop
            a(href="https://www.instagram.com/shubham.thorat_/") Shubham Thorat 
            a(href="tel:+91 8915718204") +91 8915718204 
            p Gold Medalist in Hip-Hop
        div#box-2.box
            h1 Ballet
            a(href="https://www.instagram.com/_theiconik/") Ujjwal Pandey
            a(href="tel:+91 2700238637") +91 2700238637
            p Gold Medalist in Ballet
        div#box-3.box
            h1 Contemporary
            a(href="https://www.instagram.com/aditya_harsh_1/") Aadity Harsh
            a(href="tel:+91 87504725089") +91 7504725089
            p Gold Medalist in Contemporary 
        div#box-4.box
            h1 Tap Dance
            a(href="https://www.instagram.com/bharatt.shrma/") Bharat Sharma
            a(href="tel:+91 9153728561") +91 9153728561
            p Gold Medalist in Tap Dance
        div#box-5.box
            h1 Folk Dance
            a(href="https://www.instagram.com/kartikeya_.s/")  Kartikeya Singh
            a(href="tel:+91 1348802146") +91 1348802146
            p Gold Medalist in Folk Dance
        div#box-6.box
            h1 Irish Dance
            a(href="https://www.instagram.com/shivamg4149/") Shivam Gupta 
            a(href="tel:+91 8945618204") +91 8945618204
            p Gold Medalist in Irish Dance